---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <header>
      <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
      <nav>
          <ul>
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/about">About</a></li>
              <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
      </nav>
  </header>

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <main>
    <h1>React Native</h1>
    <h4>
      React Native is an open-source framework developed by Facebook that allows developers to build mobile applications for iOS and Android using JavaScript and React. React Native enables developers to create cross-platform apps that use the same codebase for both platforms, which significantly reduces development time and effort.

      React Native uses a bridge to communicate between the JavaScript code and the native components. The JavaScript code runs in a separate thread, and UI updates are sent to the native platform’s main thread. This allows React Native apps to use native components and APIs, ensuring high performance and a native look and feel.

    </h4>
    </main>


  


    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
  </body>
</html>
